{%extends "master.html"%}

{% block title %}Información del miembro:{% endblock %}

{% block content %}
    <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1> 

    <section>
        <p>Phone: {{ mymember.phone }}</p>
        <p>Member since: {{ mymember.joined_date }}</p>
        <p>Email: {{ mymember.email }}</p>
        <p>Birthday: {{ mymember.birthday }}</p>
        <p>Gender: {{ mymember.gender }}</p>
    </section>

    <a href="/members"><button>Volver</button></a>  
{% endblock %}